body {
  background: paleturquoise;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  /* align-content: space-around; */
  align-items: center;
}

#numPartidas {
  margin-bottom: 10px;
  width: 20%;
}

button {
  width: 20%;
}
